body {
  font-family: var(--main-font);
  color: white;
  background: linear-gradient(
    249deg,
    #7100c9,
    rgb(64, 27, 101) 25.71%,
    rgb(74, 0, 160) 50.92%,
    rgb(34, 13, 67) 78.15%,
    #10003a
  );
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: center;
  animation: bgMoves 8s ease infinite;
}

@keyframes bgMoves {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
