.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.6rem;
  border-radius: 24px;
  margin: 20px 0;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}
